<% corp_wechat_tabs = [{:name => 'corp_wechat', :partial => 'settings/corp_wechat_setting', :label => :settings_wechat},
  {:name => 'corp_wechat_login', :partial => 'settings/corp_wechat_login_setting', :label => :settings_wechat_login},
  {:name => 'dingtalk', :partial => 'settings/dingtalk_setting', :label => :settings_dingtalk},
  {:name => 'dingtalk_login', :partial => 'settings/dingtalk_login_setting', :label => :settings_dingtalk_login}]   %>   


<p>
  <label><%= l(:settings_login_password_forbbid) %></label>
  <%= select_tag 'settings[login_password_forbbid]',options_for_select({ l(:settings_password_login_on) => '0',
  l(:settings_password_login_off) => '1' }, @settings["login_password_forbbid"]) %>
</p>  
<p>
  <label><%= l(:settings_login) %></label>
  <%= select_tag 'settings[login_type]',options_for_select({ l(:settings_login_off) => '0',
  l(:settings_login_wechat) => '1',
  l(:settings_login_dingtalk) => '2' }, @settings["login_type"]) %>
</p>
<p>
  <label><%= l(:settings_login_password_psk) %></label>
  <%= text_field_tag 'settings[login_password_psk]', @settings["login_password_psk"], :size => 60 %>
</p>
<%= render_tabs corp_wechat_tabs %>

<% html_title(l(:label_settings), l(:label_corp_wechat)) -%>  